{{#each article}}
<h2 class="title">{{title}}</h2>
<a class="link" href="{{link}}">{{link}}</a>
<br>
<div>
        <textarea class="comment"></textarea>
        <br>
        <button class="submit" value="{{_id}}">submit</button>
        <br>
</div>
<div class="comment"></div>
{{!-- <button class="delete" id="{{_id}}">delete</button> --}}
{{/each}}